---

import ProjectButton from './ProjectButton.astro';
import GithubIcon from './icons/GithubIcon.astro';
import LinkIcon from './icons/LinkIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';
import ReactIcon from './icons/ReactIcon.astro';
import MongoDBIcon from './icons/MongoDBIcon.astro'; 
import ReduxIcon from './icons/ReduxIcon.astro';
import Auth0Icon from './icons/Auth0Icon.astro';
import JavaScriptIcon from './icons/JavaScriptIcon.astro';
import VercelIcon from './icons/VercelIcon.astro';
import PostgresIcon from './icons/PostgresIcon.astro';
import TypescriptIcon from './icons/TypescriptIcon.astro';
import AstroIcon from './icons/AstroIcon.astro';
import SequelizeIcon from './icons/SequelizeIcon.astro';
import NodeIcon from './icons/NodeIcon.astro';
import CssIcon from './icons/CssIcon.astro';
import ViteIcon from './icons/ViteIcon.astro';


const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-[#003159] text-white",
    icon: ReactIcon,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDBIcon,
  },
  REDUX: {
    name: "Redux",
    class: "bg-[#003159] text-white",
    icon: ReduxIcon,
  },
  AUTH0: {
    name: "Auth0",
    class: "bg-[#003159] text-white",
    icon: Auth0Icon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScriptIcon,
  },
  VERCEL: {
    name: "Vercel",
    class: "bg-[#003159] text-white",
    icon: VercelIcon,
  },
  POSTGRES: {
    name: "PostgreSQL",
    class: "bg-[#003159] text-white",
    icon: PostgresIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypescriptIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroIcon,
  },
  SEQUELIZE: {
    name: "Sequelize",
    class: "bg-[#003159] text-white",
    icon: SequelizeIcon,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#003159] text-white",
    icon: NodeIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CssIcon,
  },
  VITE: {
    name: "Vite",
    class: "bg-[#003159] text-white",
    icon: ViteIcon,
  },
}

const PROJECTS = [
{
    title: "Claudia Huertas Psychologist",
    description:
"On the Frontend, JavaScript, React, Tailwind CSS, Recharts, and Axios are utilized, with responsive web development and ongoing development for React Native. The Backend employs TypeScript, Node.js, Express.js, Mercado Pago, JSON Web Token, and Nodemailer, with PostgreSQL and Sequelize as the database.",
  //  link: "https://wedevelop.vercel.app/",
  //   github: "https://github.com/AMGutierrezTrejos/WeDevelop-Ecommerce",
    image: "https://i.ibb.co/drjHW5N/Claudia-Huertas-Psicologia.png",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.TAILWIND, TAGS.REDUX, TAGS.AUTH0, TAGS.NODE, TAGS.POSTGRES, TAGS.SEQUELIZE, TAGS.VERCEL, TAGS.VITE],
  },
  {
    title: "WeDevelop - E-commerce Platform",
    description:
    "FrontEnd and BackEnd Development enhance user experience with technologies like ReactJS, JavaScript, and Redux, creating captivating interfaces and elegant visualizations with Recharts. Meticulous structuring with HTML5 and CSS ensures an optimal experience. i18next integration allows multiple language support. On the Backend, Express and Node.js ensure solid performance, while MongoDB and Mongoose ensure data integrity. Auth0 adds layers of security and Mercado Pago API integration makes online payment processing easier.",   
    link: "https://wedevelop.vercel.app/",
    github: "https://github.com/AMGutierrezTrejos/WeDevelop-Ecommerce",
    image: "https://i.ibb.co/8M9mw2v/We-Develop.png",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.CSS, TAGS.REDUX, TAGS.AUTH0,TAGS.NODE, TAGS.MONGODB, TAGS.VERCEL, TAGS.VITE],
  },
  {
    title: "Drivers - Entertainment",
    description:
"In the Frontend, JavaScript, React, Redux, and pure CSS are used, along with Axios. In the Backend, PostgreSQL with Sequelize is employed for the database, and an external API is integrated for data retrieval.",   
 link: "",
    github: "https://github.com/AMGutierrezTrejos/PI_Drivers",
    image: "https://i.ibb.co/jwfhCZ2/pidrivers.png",
    tags: [TAGS.REACT, TAGS.CSS,  TAGS.REDUX, TAGS.JAVASCRIPT, TAGS.NODE, TAGS.POSTGRES, TAGS.SEQUELIZE, TAGS.VITE],
  },
  {
    title: "Portfolio - Business",
    description:
    "This portfolio exemplifies my commitment to excellence in web development. Built using cutting-edge technologies like Tailwind CSS, Astro, React, and TypeScript, this project serves as not only a showcase of my technical skills but also a testament to my focus on efficiency, speed, and quality. Every detail, from modular design to performance optimization, has been carefully considered to deliver an exceptional experience. Explore my portfolio to learn more about me and my abilities as a web developer.",
     link: "",
    github: "https://github.com/AMGutierrezTrejos/Portfolio-AstroTailwind",
    image: "https://i.ibb.co/NCJJnWc/portfolio.png",
    tags: [ TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND, TAGS.ASTRO],
  },
]
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="MauricioGutierrez Portfolio Projects" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-white dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-white dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <ProjectButton href={github}>
                <GithubIcon class="size-6" />
                Code
                
              </ProjectButton>
            )}
            {link && (
              <ProjectButton href={link}>
                <LinkIcon class="size-4" />
                Preview
              </ProjectButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>